.detailContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    color:white;
    text-align: center;
  }
  
  .infoSection {
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 15px;
    width: 100%;
     
  }

  .infoTitle {
    font-weight: bold;
    font-size: 1.5rem;
  }

  p {
    font-size: 1.2rem;
    line-height: 1.6;

  }
  
  .addToWatchlistBtn {
    background-color: var(--accent-color);
    color: white;
    border: none;
    font-size:1.3rem;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
  }
  
  .addToWatchlistBtn:hover {
    background-color: #f75c02;

  }

  .detailImageWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
  }