.faq-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: clamp(2rem, 5vw, 4rem);
    background: linear-gradient(135deg, 
    #071133 0%, 
    #122651 50%, 
    #041027 100%
    );
    margin: clamp(2rem, 5vw, 4rem) 0 0 0;
    width: 100%;
    box-sizing: border-box;
}

.faq-container {
    display: flex;
    flex-direction: row;
    color: white;
    font-size: clamp(0.9rem, 3vw, 1.2rem);
    width: 100%;
    max-width: 1200px;
    text-align: center;

    .faq-title {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 0 1rem;
        box-sizing: border-box;
        

        h2 {
            font-size: clamp(1.2rem, 4vw, 2rem);
        }
    }

    .faq-list {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0 1rem;
        box-sizing: border-box;
        
        .faq-item {
            border-bottom: 1px solid var(--sub-text-color);
            padding: 1rem 0;
        }
    }
}

.faq-question {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    cursor: pointer;

    h3 {
        text-align: left; 
        flex-grow: 1;
        font-size: clamp(1rem, 4vw, 1.2rem);
        margin: 0;
        padding-right: 1rem;
    }

    span {
        flex-shrink: 0;
    }
}

@media (max-width: 768px) {
    .faq-container {
        flex-direction: column;

        .faq-title, .faq-list {
            width: 100%;
            padding: 0;
        }

        .faq-title {
            margin-bottom: 2rem;
        }
    }
}