.add-coin-text {
  text-align: center;
  color: white;
}

.remove-watchlist-btn {
  all: unset;
  cursor: pointer;
  border: none;
}

.remove-watchlist-btn:hover{
    transform: scale(1.1);
}

.delete-icon{
  filter:invert(100%);
}

.pepe {
  border: 5px solid rgba(243, 224, 112, 0.714);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1), 
              0 8px 15px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
}

.pepe:hover {
  transform: scale(1.05) rotate(3deg);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15), 
              0 10px 20px rgba(0,0,0,0.25);
}

.empty-watchlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}