.table-container {
  display: flex;
  align-items: center;
  justify-content: center; 
  width: 100%;
  overflow-x: auto; 
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center; 
  margin: 1rem 0;
  width: 100%;

  .openModalBtn {
    background-color: #ADD8E6;
    padding: clamp(0.8rem, 2vw, 1.5rem);
    font-size: clamp(1rem, 3vw, 1.5rem);
    border-radius: 30px;
    border: none;
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, 0.722);
    font-weight: bold;
    transition: all 0.3s ease;
    max-width: 80%; 
  }
  
  .openModalBtn:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  }
}



@media (max-width: 768px) {
  .openModalBtn {
      width: 80%;
      max-width: 300px;
  }
}