.search-result-container {
  max-width: 750px;
  width: 100%;
}

.search-result-list {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  margin-top: 1rem;
  max-height: 200px;
  overflow-y: auto;
  list-style: none;
}

.search-result-item {
  padding: 3.5px;
  font-size: 1.2rem;
  padding-left: 10px;
  border-bottom: 1px solid #ddd;
}

@media screen and (min-width: 600px) and (max-width: 768px) {
  .search-result-container {
    max-width: 580px;
  }
  .search-result-item {
    font-size: 1rem;
    padding: 2.5px;
  }
}

@media screen and (max-width: 600px) {
  .search-result-container {
    max-width: 430px;
  }
  .search-result-item {
    font-size: 0.9rem;
    padding: 2px;
  }
}
