
header{
    box-shadow: 0 2px 5px rgba(111, 108, 108, 0.1); 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;

    h1{
        font-size: 3rem;

    }

    nav ul {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        gap:3rem;
        align-items: center;
    
        li a{
            color:white;
            text-decoration: none; 
        }
        li a:hover {
            color: var(--accent-color);
        }
    }
    .text-container{
        display: flex;
        align-items: center; 
        justify-content: flex-end; 

        h2{
            color:white;
        }
    }
  }

  .logo {
    width: 300px;
}

.nav-content{
    display: flex;
    flex-direction: row;
    gap:20rem;
    width: 1200px;
}