.app {

  margin: 0 auto;

  font-family: Arial, sans-serif;
}

h1 {
  color:white;
  text-align: center;
}

p{
  color:var(--sub-text-color);
}





strong {
  display: block;
  text-align: center;
  font-size: 18px;
  color: #666;
}

:root {
  --background-color: #123962;
  --main-text-color:white;
  --sub-text-color:rgb(185, 185, 185);
  --accent-color:  #FF6B00;
}

body {
  background-color: #123962;
  color: var(--primary-blue);
  margin:0;
  padding:0;
}


.main-page-text{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.button {
  background-color: var(--secondary-blue);
  color: white;
}


/* Responsive design for smaller screens */
@media screen and (max-width: 600px) {
  .coin-table {
    font-size: 0.8em;
  }
  
  .coin-table th,
  .coin-table td {
    padding: 8px 10px;
  }
}
