:root {
  --background-color: #123962;
  --main-text-color:white;
  --sub-text-color:rgb(185, 185, 185);
  --accent-color:  #FF6B00;
  --secondary-color:#ADD8E6;
}

body {
  background: linear-gradient(135deg, #0a2440 0%, #4c6b7f 50%, #1a3672 100%);
  background-attachment: fixed;
  background-size: cover;
  color: var(--primary-blue);
  margin:0;
  padding:0;
  font-family: Arial, sans-serif;
  height: 100vh;
}


.app {
  margin: 0 auto;
}

h1 {
  color:white;
  text-align: center;
}

p{
  color:var(--sub-text-color);
}


strong {
  display: block;
  text-align: center;
  font-size: 18px;
  color: #666;
}


.main-page-text{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}



