.banner-text-container {
    align-items: center;
    justify-content: center;
    margin: clamp(1rem, 5vw, 3rem);
    display: flex;
    flex-direction: column; 
    

    p {
        letter-spacing: 0.8px;
        color: var(--sub-text-color);
        font-size: clamp(0.9rem, 2vw, 1.2rem);
        line-height: 1.5;
        margin:0;
    }

    h1 {
        color: white;
        text-align: center;
        font-size: clamp(1.8rem, 5vw, 2.8rem);
        line-height: 1.2;
    }
}
